    .jumbotron {
    background-image:linear-gradient(#4e2121 ,#050506);
    background-size: cover;
    color: rgb(82, 6, 38);
    text-align: center;
     }
     .jumbotron{
        background-image: url("images/IMG-20240331-WA0066.jpg");
     }
    .list-group-item{
    background-image:linear-gradient(#360909 ,#050505);
    color:rgb(243, 228, 234);
    }
    .list-group-item a{
    color:rgb(253, 182, 94);
    }
    .list-group-item a:hover{
    text-decoration:none;
    font-weight: bold;
    }
    .list-content{
    background-color: #da9f46;
    }
    .login{
    color: rgb(8, 8, 8);
    }
    .navbar{
    background-image:linear-gradient(#fec9a3,#f0873d,#3a1b13);
    }
   
    footer {
    background-color: #190303;
    color: hwb(30 18% 17%);
    padding: 20px 0;
    }
    .footer a {
    color: #8c4b12;
    }
    .carousel-item {
    text-align: center;
    }
    .destination-img {
    max-width: 100%;
    height: auto;
    }
    .destination-desc {
    margin-top: 20px;
    }
    h3{
    color: #5f0c27;
    }
    .gallery-heading{
    margin-top: 30px;
    background-color: #29060d;
    padding:20px; 
    color: #da9f46;
   }
    .about-section {
    padding: 50px 0;
    background-color: #f1b150;
    margin: 20px;
    }
    .about-heading {
   text-align: center;
    margin-bottom: 30px;
    }
    .about-content {
    margin-bottom: 20px;
    }
    .btn{
      background-color: #360909;
      color: aliceblue;
    }
